/** @format */

@import "./varCSS";

.modal__wrapper {
    @extend %modal__wrapper;
}

.modal__wrapper.open {
    @extend %modal__open;
    z-index: 10;
}

.modalContainerDel {
    position: fixed;
    top: 40%;
    left: 20%;
    width: 100%;
    @include breakpoint(md) {
        left: 10%;
    }
}

.modalBodyDelProject {
    transition: all 0.2s linear 0s;

    position: relative;
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-top: 5%;
    padding-bottom: 1rem;
    padding-top: 3rem;
    width: 60%;
    height: 60%;
    background-color: $backBoard;
    border-radius: 15px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.16);

    justify-content: space-around;

    @include breakpoint(md) {
        width: 80%;
    }

    span {
        position: absolute;
        top: 1rem;
        right: 1rem;
        align-self: end;
        z-index: 1;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    p {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        padding: 0.8rem;
    }
    div.buttonBlock {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        gap: 1rem;

        button {
            // align-self: center;
            padding: 0.5rem;
            width: 40%;
            &:hover {
                opacity: 0.7;
            }
            &:active {
                opacity: 0.4;
                color: $light-color;
            }
        }
        .buttonYes {
            background-color: $blue-color;
        }
    }
}
