/** @format */

@import "./varCSS";

.modal__wrapper {
    @extend %modal__wrapper;
}

.modal__wrapper.open {
    @extend %modal__open;
}

.modal__wrapper.close {
    @extend %modal__close;
}

.modal__sub {
    @extend %modal__open;
    background: rgba(white, $alpha: 0.8);
}

.modalContainer {
    position: fixed;
    top: 2rem;
    left: 20%;
    width: 100%;
    @include breakpoint(md) {
        left: 10%;
    }
}

.modalBodyEach {
    transition: all 0.2s linear 0s;

    display: flex;
    flex-direction: column;
    // grid-template-columns: 2.5fr 1fr;
    // grid-template-rows: auto;
    padding: 1rem;
    padding-top: 3rem;
    position: relative;
    min-width: 250px;
    width: 60%;
    min-height: 90%;
    background-color: $backBoard;
    border-radius: 15px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.16);
    // overflow-y: scroll;

    @include breakpoint(md) {
        width: 80%;
    }

    span {
        position: absolute;
        top: 1rem;
        right: 1rem;
        align-self: end;
        z-index: 10;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;

        header {
            display: flex;
            justify-content: space-between;
            align-items: start;

            font-size: xx-large;
            font-weight: 500;
            padding-bottom: 1.5rem;

            @include breakpoint(sm) {
                flex-wrap: wrap;
                flex-direction: column-reverse;
            }
            div.head {
                width: 100%;
                display: flex;
                // justify-content: start;
                margin-left: 0.2rem;
                gap: 0.3rem;

                div.changeTitle {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    textarea {
                        @extend %textArea;
                        font-size: xx-large;
                        font-weight: 400;
                        padding-bottom: 1.5rem;

                        @include breakpoint(md) {
                            font-size: x-large;
                        }

                        @include breakpoint(sm) {
                            font-size: large;
                        }
                    }

                    @include breakpoint(sm) {
                        padding-bottom: 1rem;
                    }
                }
            }

            div.prior {
                @include breakpoint(sm) {
                    padding-left: 0.5rem;
                    margin-bottom: 0.5rem;
                    margin-left: 0rem;
                }
            }
        }

        div.sideBar {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5rem;
            margin-bottom: 1rem;
            font-size: 14px;
            font-weight: 300;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                padding: 0.5rem;
                border-radius: 3px;

                div.divHead {
                    background-color: $light-color;
                    gap: 1rem;
                    padding: 0.5rem;
                    border: 0;
                    border-radius: 3px 0px 0px 3px;
                    padding-right: 15px;
                    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
                }

                div {
                    background-color: $blue-color;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 8px;
                    padding-right: 8px;
                    border-left: 1px dotted;
                    gap: 0.5rem;
                    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
                }
            }
        }

        div.container {
            height: 50%;
            display: flex;
            flex-direction: column;

            div.headerDecription {
                display: flex;
                gap: 0.5rem;
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }
            textarea.description {
                @extend %textArea;
                display: flex;
                flex-direction: row;
                padding: 0.5rem;
                font-size: 18px;
                min-height: 250px;
                height: 100%;
                font-weight: 300;
            }
        }

        div.displaySub {
            margin-top: 2.5rem;

            div.sub {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                flex-wrap: wrap;
            }
        }

        div.comments {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 3rem;
            gap: 0.5rem;
            font-size: 22px;
            font-weight: 400;

            .commentMain {
                position: relative;
                font-size: 14px;
                font-weight: 300;
                display: flex;
                flex-direction: column;

                button {
                    align-self: end;
                }

                textarea,
                .allComments {
                    @extend %textArea;
                    padding: 1rem;
                    word-wrap: break-word;

                    &:focus {
                        outline: none;
                        border: 0.5px solid $blue-color;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
                        padding: 1.5rem;
                    }
                }
            }
        }
    }
}

.allCommentsContainer {
    gap: 0;

    .allComments {
        @extend %textArea;
        font-size: 16px;
        position: relative;
        padding: 1rem;
        cursor: default;

        span {
            top: 0;
            right: 0;
            font-size: 24px;
        }
    }

    .date {
        @extend %fontDate;
    }
}

.changeIcon {
    cursor: pointer;
    &:hover {
        opacity: 0.7;
        // scale: 1.05;
    }
    & :active {
        opacity: 0.5;
        scale: 1.01;
    }
}

.sub__task__wrapper {
    z-index: 20;
}

.eachSub {
    display: flex;

    .subHeaderText {
        font-size: 22px;
        font-weight: 500;
    }

    div {
        background-color: $light-color;
        gap: 1rem;
        padding: 0.5rem;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
        padding-right: 15px;
        border-radius: 3px 0px 0px 3px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
    }
    div.closeIcon {
        background-color: $blue-color;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        padding-left: 8px;
        padding-right: 8px;
        border-left: 1px dotted;
        border-radius: 0px 3px 3px 0px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
    }
}

.saveButton {
    margin-top: 0.3rem;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    background-color: $blue-color;
    font-size: 18px;
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px;
    cursor: pointer;
    display: flex;
    align-self: end;
}
