/** @format */
@import "./varCSS.scss";

.footer {
    padding: 1.5rem;
    background-color: $darker-color;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 1.5rem;
            font-weight: 500;
            display: flex;
            padding-top: 0.5rem;
            color: $light-color;
        }
    }
    div.aboutDev {
        transition: all 0.2s linear 0s;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-self: center;
        padding-bottom: 0.5rem;
        padding-top: 1rem;

        a {
            display: flex;
            font-size: x-large;
            transition-property: all;
            transition-duration: 200ms;
            margin-left: 0.25rem;
            color: $light-color;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
