/** @format */
// @import-normalize;
@import "./varCSS";
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    @extend %fontMain;
}

div.body {
    // display: block;
    height: 100%;
    width: 100%;
    line-height: 1;
    background-color: $background-main;

    div.wrapper {
        min-width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        span.back {
            position: absolute;
            width: 80px;
            height: 50px;
            inset: 1rem;
            font-size: 30px;
            color: $darker-color;

            // &:hover {
            //     &:active {
            //         opacity: 0.7;
            //         color: white;
            //     }

            //     &:before {
            //         opacity: 1;
            //         right: 0;
            //         text-indent: 0px;
            //     }
            // }
        }

        header.header {
            display: flex;
            flex-direction: column;
            padding-top: 3rem;
            padding-bottom: 1rem;
            font-size: xx-large;
            text-align: center;
            color: white;
            border-bottom: 1px solid white;

            div.title {
                // color: black;
                color: $backBoard;
                // background-color: $backBoard;
            }

            div.description {
                margin-top: 2rem;
                color: $backBoard;
                font-size: x-large;
                // color: black;
                // background-color: $backBoard;
            }
        }

        main.main {
            flex: 1 1 auto;
            min-height: 100%;
            margin-bottom: 10rem;
            margin-left: 2rem;
            margin-right: 2rem;
            margin-top: 1rem;

            div.projectsBox {
                // position: initial;
                margin-top: 5%;
                margin-left: auto;
                margin-right: auto;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 0.5rem;

                @include breakpoint(sm) {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}
