/** @format */

@import "./varCSS";

.backBoard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;

    width: 33%;
    height: 100vh;

    background: #dddfe7;
    border-radius: 10px;
    h3 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: larger;
        line-height: 250%;
        color: #363333;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        gap: 1rem;

        width: 100%;

        background: #ffffff;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        h6 {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 2px;
            background: #46f7b7;
            border-radius: 3px;

            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 9px;
            line-height: 150%;
        }
        h5 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #1b1c1d;
        }
        p {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.5rem 0.5rem;
            gap: 0.5rem;
            background: #f7f7f7;
            border-radius: 3px;
        }
    }
}
